@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

.todos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.lists {
  width: 40%;

  .card-header .card-title {
    margin-bottom: 0;
  }
}

.tasks {
  width: 55%;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p,
    .card-title {
      margin-bottom: 0;
    }
  }
}

.lists,
.tasks {
  --margin: 30px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.btn-primary:hover {
  background-color: #0069d9 !important;
}

[disabled] {
  pointer-events: none;
}

.locale-selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .flag {
    max-width: 35px;
  }

  &.open {
    background-color: #f2f2f2;
    width: 90px;
    border-radius: 0 3px 3px 0;

    ul {
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0;

        .flag {
          width: 30px;
        }

        span {
          width: 40px;
        }

        &:hover {
          background-color: #33aeff;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  form button {
    margin-top: 16px;
  }

  .locale-selector:not(.open) {
    height: 25px;

    .flag {
      opacity: 0.5;
    }
  }
}

@media (max-width: 991.98px) {
  .todos {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .lists,
  .tasks {
    width: 100%;
  }
}
